<div class="main-container">
  <app-price-form (discountedPrice)="discountedPrice($event)"></app-price-form>
  <div class="right-container">
    <h3 class="right-container-heading">Summary</h3>
    <div class="sub-total-container">
      <div class="sub-total-left-container">
        <span class="sub-total-title">Sub-Total:</span><br>
        <div class="sub-total-save-amount">You save ${{actualPrice - discountPrice}}!</div>
        <!-- Added sub-total-save-amount container -->
      </div>
      <div class="sub-total-right-container">
        <div class="sub-total-price-container">
          <div style="position: relative;">
            <span class="sub-total-old-price">${{actualPrice}}</span>
            <span class="sub-total-price-cross" *ngIf="actualPrice!=0"></span>
          </div>
          <hr class="sub-total-price-line">
          <span class="sub-total-new-price">${{discountPrice}}</span>
        </div>
      </div>
    </div>
    <hr>
    <div class="pay-50-percent-input-container">
      <input type="checkbox" [(ngModel)]="showPay50Percent" id="pay-50-checkbox">
      <label for="pay-50-checkbox" class="pay-50-percent-label"> Prepay 50%</label>
      <br>
      <div [ngStyle]="{'display': showPay50Percent ? 'block' : 'none'}" id="pay-50-container" class="pay-50-percent">
        <div class="pay-50-percent-row">
          <span class="pay-50-percent-label">Pay Now:</span>
          <span class="pay-50-percent-value">${{fiftyPercentAmount}}</span>
        </div>
        <div class="pay-50-percent-row">
          <span class="pay-50-percent-label">Pay After Delivery:</span>
          <span class="pay-50-percent-value">${{fiftyPercentAmount}}</span>
        </div>
      </div>

    </div>

    <div class="sub-total-container" style="background-color: rgba(128, 128, 128, 0.186);padding:20px 0px 20px 0px;">
      <div class="sub-total-left-container">
        <span class="sub-total-title">Total:</span><br>
      </div>
      <div class="sub-total-right-container">
        <div class="sub-total-price-container">
          <div style="position: relative;">
            <span class="sub-total-new-price">${{discountPrice}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="radio-container">
      <input type="radio" id="agree-policeis" name="agree" class="radio-input">
      <label for="agree-policeis" class="radio-label">
        I agree with <a href="#">Policeis</a> and <a href="#">Terms and Conditions</a>
      </label>
    </div>

    <h3 class="right-container-heading">Payment Method</h3>

    <div class="payment-method-cards-container">
      <div class="payment-method-card" id="paymentMethodCardPayWithCard" (click)="onPayWithCardClick()">
        <div class="payment-method-card-image">
          <img src="../../../assets/debit-cards.png" alt="Pay with Card" width="30px" height="30px">

        </div>
        <h2 class="payment-method-card-title" [ngStyle]="{'color': showCardContent ? '#0c8ce9' : ''}">Pay with Card</h2>
      </div>

      <div class="payment-method-card-1" id="paymentMethodCardPayWithWallet" (click)="onPayWithWalletClick()">
        <div class="payment-method-card-1-image">
          <img src="../../../assets/wallet.png" alt="Pay with Wallet" width="30px" height="30px">
        </div>
        <h2 class="payment-method-card-1-title" [ngStyle]="{'color': showWalletContent ? '#0c8ce9' : ''}">Pay with Wallet</h2>
      </div>
    </div>


<div style="display: flex;justify-content: space-between;padding: 0px 19px;"  *ngIf="showWalletContent">
  <div class="wallet-content" >
    <div class="wallet-row" *ngFor="let row of walletRows">
      <div class="wallet-left">
        <span class="wallet-amount-label">{{ row.label }}:</span>
      </div>
      <div class="wallet-right">
        <span class="wallet-amount">{{ row.amount }}</span>
      </div>
    </div>
  </div>
  <a href="" >Top_Up</a>
</div>
<div style="display: flex;justify-content: center;">
  <button class="proceed-to-payment-btn">
    <span class="btn-text">Proceed to Payment</span>
  </button>
</div>

<div style="margin-top: 1pc;">
  <img src="../../../assets/stripe_payment.png" alt="" style="width:100%">
</div>
<div style="display: flex; flex-direction: row;justify-content: center;margin-top: 1pc;margin-bottom: 1pc;">
  <img src="../../../assets/dcma.png" alt="" style="width:30%;height: 30%;">
  <img src="../../../assets/pci.png" alt="" style="width:30%;height: 84px;">
  <img src="../../../assets/ssl.png" alt="" style="width:30%;height: 30%;">

</div>



  </div>

</div>
