<footer class="footer">
  <div class="footer-left">
    <p>&copy; 2021 - All rights reserved</p>
  </div>
  <div class="footer-center">
    <ul class="footer-links">
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li><a href="#">Terms & Conditions</a></li>
    </ul>
  </div>
  <div class="footer-right">
    <ul class="footer-icons">
      <li><a href="#"><img src="https://cdn.iconscout.com/icon/free/png-256/facebook-4408566-3649909.png?f=avif&w=128" alt="Facebook"></a></li>
      <li><a href="#"><img src="https://cdn.iconscout.com/icon/free/png-256/instagram-68-189802.png?f=avif&w=128" alt="Instagram"></a></li>
      <li><a href="#"><img src="https://cdn.iconscout.com/icon/free/png-256/twitter-280-1175079.png?f=avif&w=128" alt="Twitter"></a></li>
      <li><a href="#"><img src="https://cdn.iconscout.com/icon/free/png-256/youtube-4408635-3649993.png?f=avif&w=128" alt="YouTube"></a></li>
      <li><a href="#"><img src="https://cdn.iconscout.com/icon/free/png-256/pinterest-4408622-3649980.png?f=avif&w=128" alt="Pinterest"></a></li>
    </ul>
  </div>
</footer>
