.slider-container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.cards {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
  margin-bottom: 8pc;

}

.card {
  position: relative;
  flex: 0 0 calc(33.33% - 79px);
  background-color: #f5f5f5;
  padding: 20px;
  height: 350px; /* Adjust the height as needed */
  background-color: #f8f8f8; /* Set the background color for the card */
  border-radius: 10px; /* Apply rounded corners to the card */
  padding: 20px; /* Add padding to the card */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow to the card */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card > div {
  /* Style for the rounded container for card.id */
  width: 70px; /* Set the width of the rounded container */
  height: 70px; /* Set the height of the rounded container */
  border-radius: 50%; /* Make the container a circle by setting border-radius to 50% */
  background-color: #0c8ce9; /* Set the background color of the container to white */
  display: flex;
  color:#fff;
  position: absolute;
  top: 10px;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  font-weight: bold; /* Add font weight to make the text bold */
}

h3 {
  margin-top: 10px; /* Add margin to the top of the title for spacing */
  font-size: 18px; /* Set the font size for the title */
  font-weight: bold; /* Add font weight to make the text bold */
  position: absolute;
  top: 85px;
}

p {
  margin-top: 5px;
    font-size: 14px;
    max-width: 14pc;
    text-align: left;

}



/* Hover state for card.id */
.card:hover div {
  background-color: #fff;
  color: #000;
}

/* Hover state for .card */
.card:hover {
  background-color: #0c8ce9;
}

/* Hover state for .card content */
.card:hover h3, .card:hover p {
  color: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 8pc;
}

.heading {
  font-size: 32px;
  font-weight: bold;
  flex-grow: 1;
  max-width: 23pc;
  padding-left: 10pc;
  padding-top: 3pc;
  padding-bottom: 3pc;
}

.buttons {
  display: flex;
  padding-top: 120px;
  padding-right: 125px;
}

.button {
  background-color: #0c8ce9;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 50%;
    width: 43px;
    height: 43px;
    font-weight: bolder;
}
.btn1:hover, .btn2:hover{
  background-color: #fff;
  color: #0c8ce9;
  border: 1px solid #0c8ce9;
}

.button:hover {
  background-color: #fff;
}

.button:focus {
  outline: none;
}
